@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('fonts.googleapis.com/css?family=Open+Sans:400,300,700');

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


body{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
    top:0;
  //font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  color:#090127;
}



.bg-clr{
  background-color: #4d5866;
  padding-right: 35px;
  color: white;
}
@media (max-width: 47.9em) {
.bg-clr{
  display: none;
}

}

.icons{
  margin-left: 20px;
}
header{
  height: 100px;
  float:;
}
.logo {
  margin: 1.3em 0 0 2em;
  float: left;
  //border: 2px solid black;
}
.contact{
  float: right;
  width:100%;
  border: 1px solid red;
}

.bg-clr-lgt {
  background-color: #697c9b;
  position: sticky;
  color: white;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}


.menu-item{
  margin-right: 2vw;
  margin-left: 2vw;
  color: #fff;
}
.menu-item:hover,
.menu-item:focus{
  //font-size: 1.4vw;
  //border: 1px solid #fff;
  color: #fff;
  text-decoration:none;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}
.logo img{
  max-width: 100%;
  height: auto;

}

.header-box{
  width: 100%;
  height: 100px;
  margin-top:;
  float: right;
  //border: 1px solid black;
}
.header-box-icon{
  width: %;
  height:100%;
  padding-left: 5px;
  padding-top: 15px;
  float: right;
//border: 1px solid black;
}
.header-box i{
  float:;
  //border: 1px solid black;
  padding:15px 5px 0 0;
}

@media screen and (max-width: 299px) {
    .glyphicon {
        font-size: 2vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .glyphicon {
        font-size: 2vw;
    }
}

@media screen and (min-width: 800px) {
    .glyphicon {
        font-size: 2.5vw;
    }
}
.header-box-text{
  margin-right: 2vw;
  padding-top: 5px;
  font-size: 1.3vw;
  float: right;
  //border: 1px solid black;
}
.main-section{
  background:url("../images/home1bg.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-left: 5px;
  padding-right: 5px;
}

.title-box{
  padding-top: 15vh;
}
@media (max-width: 47.9em) {
.title-box{
  text-align: center;
  padding-top: 5vh;
}
.title-box h1{
  font-size: 4vh;
}
.section-box{
  margin: auto;
  margin-bottom: 15px;
}
}
.title-text{
  color: silver;
  font-size: 4vw;
  font-weight: bolder;
}
.title-box p{
  color: white;
}
.section-box{
  width: 175px;
  height: 45px;
  background-color: white;
}

.section-bottom-clear{
  width: 70%;
  height:20vh;
}
@media (max-width: 47.9em) {
.section-bottom-clear{
  display: none;
}
}

.section-bottom-box{
  width: 70vw;
  height: auto;
  margin: auto;
  margin-top: 2vh;
  background-color: white;
  border-radius: 10px;
  padding: 1em 0 0 2em;
  font-size: 2vw;
}
.section-bottom-box input{
  width: 95%;
  height: 6vh;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #697c9b;
  border: none;
  padding-left: 5px;
  font-size: 2vh;
}
.section-bottom-box button {
  width: 95%;
  height: 6vh;
  margin-right: 20px;
  margin-bottom: 5px;
  background-color: #4d5866;
  border: none;
  outline: none;
  color: silver;
  font-size: 1vw;
}
@media (max-width: 47.9em) {
.section-bottom-box button{
  font-size: 2vh;
}
.section-bottom-box h5{
  display: none;
}
}
.spacer{
  width: 100%;
  height: 100px;
}
#about h1{
  font-size: 4vw;
  font-weight: bold;
}
#about p{
  font-size: 1.8vw;
}
@media (max-width: 47.9em) {
#about h1{
  font-size: 4vh;
}
#about p{
  font-size: 3vh;
}
}
.simg{
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.about-bottom{
  height: auto;
  min-height: 270px;
  margin-top: 5vh;
  background-color: #44548e;
}
.about-bottom-box{
  width: 100%;
  height: auto;
  float: left;
  margin: auto;
  padding:6em 2em 1em 0;
  font-size: .8em;
  //border: 1px solid red;
  color: #fff;
}
@media (max-width: 47.9em) {
.about-bottom-box{
  text-align: center;
}
}
#circle {
	width: 30px;
	height: 30px;
  margin: auto;
  margin-top: 15px;
	background: silver;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 15px;
}



#services{
  //border: 1px solid green;
  height: auto;
}
#services h1{
  margin-top: 1em;
  font-size: 3em;
  font-weight: bold;
}
#services i{
  float: left;
}
.services-box{
  padding-top: 4em;
}
.services-text{
  font-size: 1.8vh;
  height: 50%;
}
.services-icon-box{
  float: left;
  height: 50%;
  width: 20%;
  padding: 0 1em 0 1em;
}
.fa{
  font-size: 3vm;
}

#quote{
  background-image:url("../images/requestbg1.jpg");
  background-repeat: no-repeat;
  height: auto;
}
.request-box{
  width: 60vw;
  height: auto;;
  margin: auto;
  background-color: white;
  padding: 1em 1em 1em 1em;

}
.request-box input{
  margin-bottom: 1em;
  width: 95%;
  height: 42px;
  background-color: #4d5866;
  border: none;
  padding-left: 5px;
}

.request-box textarea{
  width: 95%;
  background-color: #4d5866;
  border: none;
  padding-left: 5px;
}
.request-box button{
  margin-top: 1em;
  width: 43%;
  height: 42px;
  margin: auto;
  background-color: #44548e;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2vw;
}
.request-strip{
  background-color: #4d5866;
  height: 700px;
}

#testimonial{
  background-image:url("../images/shutterstock_147692165-tinted.jpg");
  background-repeat: no-repeat;
  height: 900px;

}
.testimonial-box{
  width: 100%;
  height: 60%;
  background-color: #4d5866;
  opacity: .8;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 4em;
}

#news{
  height: auto;
  text-align: center;
  color: silver;
  z-index: -1;
  background-image: url("../images/shutterstock_147692165-tinted.jpg");
}
#news h1{
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 4vh;
}

#news img{
  left:0;
  top:0;
  width: 120%;

}
@media (max-width: 47.9em) {
#news img{
  width: 95%;
}
}

.news-box{
  width: 95%;
  height: auto;
  margin:auto;
  //margin: -1em 0 1em 0;
  padding: 2em 1em 1em 1em;
  //border: 1px solid white;
  background-color: #44548e;

}

footer{
  height: auto;
  background-image:
        linear-gradient(rgba(2, 2, 99, 0.6), rgba(7, 7, 7, 0.8)),
        url("../images/weidgetbg.jpg");
}
.footer-box{
  //background-color: black;
  //opacity: .5;
  height: auto;
  margin-top: 0vh;

}

.footer-text{
  padding: 20em 3em 2em 3em;
  color: #fff;
  height: auto;
}
.footer-text h1{
  text-align: center;
  margin-bottom: 1.5em;
}
.round{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
  border-radius: 50%;
  background-color: silver;
  color: black;
  padding: 3px 0 0 2px;

}
.icon-box{
  width: 60%;
  margin: auto;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}
footer input, button{
  height: 35px;
  outline: none;
  border: none;
  background-color: #1E1E47;
}
footer input{
  width: 80%;
  padding-left: 15px;
}
footer button{
  width: 15%;
}
