@import url('https://fonts.googleapis.com/css?family=Roboto');


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


body{
  font-family: "Roboto";
  color:#090127;
}

.bg-clr{
  background-color: #4d5866;

  color: white;
}

.icons{
  margin-left: 26px;
}
header{
  height: 100px;
  float:;
}
.logo {
  margin: 1.3em 1em 0 3em;
  float: left;
}
.contact{
  float: right;
  width:100%;
}
.bg-clr-lgt {
  background-color: #697c9b;
  color: white;
}
.nav-item:hover,
.nav-item:focus{
  background-color: #4d5866;
}

.menu-item{
  margin-right: 2vw;
  margin-left: 2vw;
  color: #fff;
}
.menu-item:hover,
.menu-item:focus{
  //font-size: 1.4vw;
  //border: 1px solid #fff;
  color: #fff;
  text-decoration:none;
}

.header-box{
  width: 30%;
  height: 100px;
  margin-top:.5em;
  float: right;
}
.header-box-icon{
  width: 40px;
  height:60px;
  padding-left: 5px;
  padding-top: 25px;
  float: left;
}
.header-box-text{
  margin-left: 0;
  padding-top: 1.1em;
  font-size: 1.1vw;
}
.main-section{
  background-image:url("../images/home1bg.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-left: 5px;
  padding-right: 5px;
}

.title-box{
  padding-top: 15vh;

}
.title-text{
  color: silver;
  font-size: 4vw;
  font-weight: bolder;
}
.title-box p{
  color: white;
}
.section-box{
  width: 175px;
  height: 50px;
  background-color: white;
}

.section-bottom-clear{
  width: 70%;
  height:22vh;
}

.section-bottom-box{
  width: 70vw;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 1em 0 0 2em;
  font-size: 2vw
}
.section-bottom-box input{
  width: 95%;
  height: 6vh;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #697c9b;
  border: none;
  padding-left: 5px;
  font-size: 2vh;
}
.section-bottom-box button {
  width: 95%;
  height: 6vh;
  margin-right: 20px;
  margin-bottom: 5px;
  background-color: #4d5866;
  border: none;
  outline: none;
  color: silver;
  font-size: 2vh;
}
.spacer{
  width: 100%;
  height: 100px;
}
#about h1{
  font-size: 4vw;
  font-weight: bold;
}
#about p{
  font-size: 1.8vw;
}
.simg{
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.section-bottom{
  height: 31vh;
  margin-top: 5vh;
  background-color: #44548e;
}


#services{
  //border: 1px solid green;
  height: auto;
}
#services h1{
  margin-top: 1em;
  font-size: 3em;
  font-weight: bold;
}
#services i{
  float: left;
}
.services-box{
  padding-top: 4em;
}
.services-text{
  font-size: 1.8vh;
  height: 50%;
}
.services-icon-box{
  float: left;
  height: 50%;
  width: 20%;
  padding: 0 1em 0 1em;
}
.fa{
  font-size: 3vm;
}

#quote{
  background-image:url("../images/requestbg1.jpg");
  background-repeat: no-repeat;
  height: auto;
}
.request-box{
  width: 60vw;
  height: auto;;
  margin: auto;
  background-color: white;
  padding: 1em 1em 1em 1em;

}
.request-box input{
  margin-bottom: 1em;
  width: 95%;
  height: 42px;
  background-color: #4d5866;
  border: none;
  padding-left: 5px;
}

.request-box textarea{
  width: 95%;
  background-color: #4d5866;
  border: none;
  padding-left: 5px;
}
.request-box button{
  margin-top: 1em;
  width: 43%;
  height: 42px;
  margin: auto;
  background-color: #44548e;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2vw;
}
.request-strip{
  background-color: #4d5866;
  height: 700px;
}

#testimonial{
  background-image:url("../images/shutterstock_147692165-tinted.jpg");
  background-repeat: no-repeat;
  height: 900px;

}
.testimonial-box{
  width: 100%;
  height: 60%;
  background-color: #4d5866;
  opacity: .8;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 4em;
}

#news{
  height: auto;
  text-align: center;
  color: silver;
  z-index: -1;
  background-image: url("../images/shutterstock_147692165-tinted.jpg");
}
#news h1{
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 4vh;
}

#news img{
  left:0;
  top:0;
  width: 120%;


}
.news-box{
  width: 95%;
  height: auto;
  margin:auto;
  //margin: -1em 0 1em 0;
  padding: 2em 1em 1em 1em;
  //border: 1px solid white;
  background-color: #44548e;

}

footer{
  height: auto;
  background-image:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(22, 22, 238, 0.8)),
        url("../images/weidgetbg.jpg");
}
.footer-box{
  //background-color: black;
  //opacity: .5;
  height: auto;
  margin-top: 0vh;

}

.footer-text{
  padding: 20em 1em 2em 2em;
  color: #fff;
  height: auto;
}
.footer-text h1{
  text-align: center;
  margin-bottom: 1.5em;
}
.round{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
  border-radius: 50%;
  background-color: silver;
  color: black;
  padding: 3px 0 0 5px;

}
.icon-box{
  width: 60%;
  margin: auto;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}
footer input, button{
  height: 35px;
  outline: none;
  border: none;
  background-color: #1E1E47;
}
footer input{
  width: 80%;
  padding-left: 15px;
}
footer button{
  width: 15%;
}
